@charset "ISO-8859-1";

table.style_table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  margin-right:25
  position: relative;
}
table.style_table * {
  position: relative;
}
table.style_table td, table.style_table th {
  padding-left: 8px;
}
table.style_table thead tr {
  height: 60px;
  background: #FFED86;
  font-size: 16px;
}

table.style_table tbody tr {
  height: 48px;
  border-bottom: 1px solid #E3F1D5;
}
table.style_table tbody tr:last-child {
  border: 0;
}
table.style_table td, table.style_table th {
  text-align: left;
}
table.style_table td.l, table.style_table th.l {
  text-align: right;
}
table.style_table td.c, table.style_table th.c {
  text-align: center;
}
table.style_table td.r, table.style_table th.r {
  text-align: center;
}

@media screen and (max-width: 35.5em) {
  table.style_table {
    display: block;
  }
  table.style_table > *, table.style_table tr, table.style_table td, table.style_table th {
    display: block;
  }
  table.style_table thead {
    display: none;
  }
  table.style_table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  table.style_table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  table.style_table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table.style_table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
 
}
